
  <meta charset="utf-8">

  <title>Star Wars Wars - {{page.title}}</title>
  <meta name="description" content="Star Wars Wars. {{page.title}}">
  <meta name="author" content="maurcs">
  
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/styles.css?v=1.0">
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <meta property="og:image" content="{{page.hero_image}}" />
  <meta property="og:site_name" content="{{page.title}} - Star Wars Wars"/>
  <meta property="og:description" content="{{page.description}}" />
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->